@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: auto;
  padding: 0;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

header {
  height: 667px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/img/header-bg.jpg") no-repeat center center/cover;
}
header .logo {
  position: absolute;
  top: 51px;
  left: 69px;
  height: 25px;
}
header .titleSearch-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .titleSearch-container h1 {
  text-align: center;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  color: #ffd15b;
  margin-bottom: 30px;
}
header .titleSearch-container .form-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 954px;
}
header .titleSearch-container .form-container input {
  width: 100%;
  height: 72px;
  padding-left: 35px;
  padding-right: 16px;
  font-family: "Manrope", sans-serif;
  border-radius: 11px;
  border: none;
  box-sizing: border-box;
}
header .titleSearch-container .form-container input::placeholder {
  font-size: 12px;
}
header .titleSearch-container .form-container input:focus {
  outline: none;
}
header .titleSearch-container .form-container .clear-icon {
  position: absolute;
  right: 85px;
  width: 13px;
  height: 13px;
  display: block;
}
header .titleSearch-container .form-container button {
  position: absolute;
  right: 10px;
  width: 51px;
  height: 52px;
  border-radius: 10px;
  padding: 0;
  margin-left: 17px;
  cursor: pointer;
  border: none;
}
header .titleSearch-container .form-container button img {
  width: 51px;
  height: 52px;
}

main {
  width: 100%;
  position: relative;
}

#dropdownCounter-container {
  margin: 21px 0 0 104px;
  display: flex;
  align-items: center;
}

.dropdown-container {
  display: flex;
  gap: 63px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
}
.dropdown-button {
  width: 100%;
  height: 56px;
  padding: 17px 16px;
  text-align: left;
  background-color: white;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-button .arrow-down {
  font-size: 12px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100%;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}
.dropdown.active .dropdown-button {
  border-radius: 11px 11px 0 0;
}
.dropdown.active .dropdown-content {
  display: block;
  border-radius: 0 0 11px 11px;
}

.form-dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 163px;
  border: none;
  background-color: #fff;
  padding: 0 16px;
}
.form-dropdown input {
  width: 100%;
  margin: 0 auto;
  height: 36px;
  padding: 0 50px 0 10px;
  font-family: "Manrope", sans-serif;
  border: 1px solid #c6c6c6;
  box-sizing: border-box;
}
.form-dropdown input::placeholder {
  font-size: 12px;
}
.form-dropdown input:focus {
  outline: none;
}
.form-dropdown .search-iconDropdown,
.form-dropdown .clear-iconDropdown {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.form-dropdown .clear-iconDropdown {
  right: 42px;
  display: none;
  width: 6px;
  height: 6px;
}
.form-dropdown .search-iconDropdown {
  right: 22px;
  width: 14px;
  height: 14px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}
.dropdown-item:hover {
  background-color: #ffd15b;
}
.dropdown-item.selected {
  background-color: #ffd15b;
}
.dropdown-item:last-child {
  border-bottom: none;
}

.clear-iconItems {
  position: absolute;
  right: 10px;
  width: 17px;
  height: 17px;
}

.recipe-counter {
  font-family: "anton", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #1b1b1b;
  right: 102px;
  position: absolute;
}

#tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 21px 0 0 104px;
  gap: 15px 63px;
  flex-wrap: wrap;
  max-width: 735px;
}

.tag {
  width: 203px;
  height: 53px;
  gap: 60px;
  border-radius: 10px;
  background-color: #ffd15b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #000000;
}

.remove-icon {
  width: 10px;
  height: 10px;
}

.remove-icon path {
  stroke: #1b1b1b;
  stroke-width: 2;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 66px 0;
  justify-content: space-between;
  margin: 55px 102px 55px 102px;
}

.recipe-card {
  box-sizing: border-box;
  position: relative;
  width: calc(30% - 20px);
  border: 1px solid #ddd;
  border-radius: 21px;
  overflow: hidden;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.0392156863);
}
.recipe-card img {
  width: 100%;
  height: 253px;
  object-fit: cover;
}
.recipe-card .content {
  padding: 25px 25px 61px;
}
.recipe-card .content h2 {
  font-size: 18px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 29px;
}
.recipe-card .content .recipe-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.recipe-card .content .recipe-info h3 {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  color: #7a7a7a;
  font-weight: 700;
  line-height: 16.39px;
  letter-spacing: 0.09em;
  text-align: left;
  margin-bottom: 15px;
}
.recipe-card .content p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.12px;
  text-align: left;
  color: #1b1b1b;
  margin: 0;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipe-card .content .time {
  position: absolute;
  right: 22px;
  top: 21px;
  background-color: #ffd15b;
  border-radius: 4px;
  padding: 2px 8px;
  display: inline-block;
  margin-top: 10px;
}

.recipe-ingredients .ingredients {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.recipe-ingredients li {
  flex: 1 0 50%;
  box-sizing: border-box;
  padding-right: 10px;
  margin-bottom: 21px;
}

.ingredient-name,
.ingredient-quantity {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 19.12px;
  text-align: left;
}
.ingredient-name.ingredient-name,
.ingredient-quantity.ingredient-name {
  font-weight: 500;
  color: #1b1b1b;
}
.ingredient-name.ingredient-quantity,
.ingredient-quantity.ingredient-quantity {
  font-weight: 400;
  color: #7a7a7a;
}