// Variables
$yellow: #ffd15b;
$background: #ededed;
$black: #1b1b1b;
$grey: #7a7a7a;

// Fonts
@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Mixins
@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Style global
body {
  margin: auto;
  padding: 0;
  background-color: $background;
  @include flex-center(column);
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

// HEADER
header {
  height: 667px;
  width: 100%;
  position: relative;
  @include flex-center(column);
  background: url("../assets/img/header-bg.jpg") no-repeat center center/cover;

  .logo {
    position: absolute;
    top: 51px;
    left: 69px;
    height: 25px;
  }

  .titleSearch-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      text-align: center;
      font-family: "Anton", sans-serif;
      text-transform: uppercase;
      font-size: 44px;
      color: $yellow;
      margin-bottom: 30px;
    }

    .form-container {
      position: relative;
      @include flex-center();
      height: 72px;
      width: 954px;

      input {
        width: 100%;
        height: 72px;
        padding-left: 35px;
        padding-right: 16px;
        font-family: "Manrope", sans-serif;
        border-radius: 11px;
        border: none;
        box-sizing: border-box;

        &::placeholder {
          font-size: 12px;
        }

        &:focus {
          outline: none;
        }
      }

      .clear-icon {
        position: absolute;
        right: 113px;
        width: 13px;
        height: 13px;
        display: block;
      }

      .reinit {
        position: absolute;
        right: 85px;
        width: 13px;
        height: 13px;
        display: block;
      }

      button {
        position: absolute;
        right: 10px;
        width: 51px;
        height: 52px;
        border-radius: 10px;
        padding: 0;
        margin-left: 17px;
        cursor: pointer;
        border: none;

        img {
          width: 51px;
          height: 52px;
        }
      }
    }
  }
}

// MAIN
main {
  width: 100%;
  position: relative;
}

// Dropdown
#dropdownCounter-container {
  margin: 21px 0 0 104px;
  display: flex;
  align-items: center;
}

.dropdown-container {
  display: flex;
  gap: 63px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;

  &-button {
    width: 100%;
    height: 56px;
    padding: 17px 16px;
    text-align: left;
    background-color: white;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow-down {
      font-size: 12px;
    }
  }

  &-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
  }

  &.active {
    .dropdown-button {
      border-radius: 11px 11px 0 0;
    }

    .dropdown-content {
      display: block;
      border-radius: 0 0 11px 11px;
    }
  }
}

.form-dropdown {
  position: relative;
  @include flex-center(row);
  height: 36px;
  width: 163px;
  border: none;
  background-color: #fff;
  padding: 0 16px;

  input {
    width: 100%;
    margin: 0 auto;
    height: 36px;
    padding: 0 50px 0 10px;
    font-family: "Manrope", sans-serif;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;

    &::placeholder {
      font-size: 12px;
    }

    &:focus {
      outline: none;
    }
  }

  .search-iconDropdown,
  .clear-iconDropdown {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .clear-iconDropdown {
    right: 42px;
    display: none;
    width: 6px;
    height: 6px;
  }

  .search-iconDropdown {
    right: 22px;
    width: 14px;
    height: 14px;
  }
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $yellow;
  }

  &.selected {
    background-color: $yellow;
  }

  &:last-child {
    border-bottom: none;
  }
}

.clear-iconItems {
  position: absolute;
  right: 10px;
  width: 17px;
  height: 17px;
}

// Compteur
.recipe-counter {
  font-family: "anton", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: $black;
  right: 102px;
  position: absolute;
}

// Tags

#tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 21px 0 0 104px;
  gap: 15px 30px;
  flex-wrap: wrap;
  max-width: 735px;
}

.tag {
  width: auto;
  height: 53px;
  gap: 60px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: $yellow;
  @include flex-center();
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #000000;
}
.remove-icon {
  width: 10px;
  height: 10px;
}

.remove-icon path {
  stroke: $black;
  stroke-width: 2;
}

// Recettes
.recipes-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 66px 0;
  justify-content: space-between;
  margin: 55px 102px 55px 102px;
}

.recipe-card {
  box-sizing: border-box;
  position: relative;
  width: calc(30% - 20px);
  border: 1px solid #ddd;
  border-radius: 21px;
  overflow: hidden;
  box-shadow: 0px 4px 34px 30px #0000000a;

  img {
    width: 100%;
    height: 253px;
    object-fit: cover;
  }

  .content {
    padding: 25px 25px 61px;

    h2 {
      font-size: 18px;
      font-family: "Anton", sans-serif;
      font-weight: 400;
      line-height: 27px;
      margin-bottom: 29px;
    }

    .recipe-info {
      display: flex;
      flex-direction: column;
      gap: 32px;

      h3 {
        font-family: "Manrope", sans-serif;
        font-size: 12px;
        color: $grey;
        font-weight: 700;
        line-height: 16.39px;
        letter-spacing: 0.09em;
        text-align: left;
        margin-bottom: 15px;
      }
    }

    p {
      font-family: "Manrope", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.12px;
      text-align: left;
      color: $black;
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .time {
      position: absolute;
      right: 22px;
      top: 21px;
      background-color: $yellow;
      border-radius: 4px;
      padding: 2px 8px;
      display: inline-block;
      margin-top: 10px;
    }
  }
}

.recipe-ingredients {
  .ingredients {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  li {
    flex: 1 0 50%;
    box-sizing: border-box;
    padding-right: 10px;
    margin-bottom: 21px;
  }
}

.ingredient-name,
.ingredient-quantity {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 19.12px;
  text-align: left;

  &.ingredient-name {
    font-weight: 500;
    color: $black;
  }

  &.ingredient-quantity {
    font-weight: 400;
    color: $grey;
  }
}
